{% extends "base.html" %}


{% block content %}
	<h1>Blacklists</h1>
	<div class="row">
	    <div class="offset5 span2 center bold alert alert-info">
	    	All times are in UTC
	    </div>
    </div>
	<div class="row">
		<div class="span2">
		    <div class="btn-group">
			    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
			    	<i class="icon-white icon-plus-sign"></i>
			    	Add new blacklist
			    	<span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			    	<li><a href="/blacklist/new/bgp_block">
			    		BGP block
			    	</a></li>
			    	<li><a href="/blacklist/new/zlb_redirect">
			    		ZLB redirect
			    	</a></li>
			    	<li><a href="/blacklist/new/zlb_block">
			    		ZLB block
			    	</a></li>
			    </ul>
		    </div>
		</div>
		<div class="span3 pull-right">
			{% if data.show_expired == False %}
				<a class="btn" href="/blacklist/show_expired">Show Expired Blacklists</a>
			{% else %}
				<a class="btn btn-info" href="/blacklist">Hide Expired Blacklists</a>
			{% endif %}
		</div>
	</div>
	<br />
	<table class="table">
	<tr>
		<th>
		    Address
		    <a href='?order_by=address&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
		    <a href='?order_by=address&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
		</th>
		<th>
		    CIDR
		    <a href='?order_by=cidr&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
		    <a href='?order_by=cidr&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
		</th>
		<th class="center">
		    Type
		    <a href='?order_by=type&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
		    <a href='?order_by=type&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
		</th class="center">
		<th>
		    Start Time
		    <a href='?order_by=start_date&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
		    <a href='?order_by=start_date&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
		</th>
		<th class="center">
		    Expires
		    <a href='?order_by=end_date&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
		    <a href='?order_by=end_date&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
		</th>
		<th class="center">
		    Reporter
		    <a href='?order_by=reporter&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
		    <a href='?order_by=reporter&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
		</th>
		<th></th>
		<th class="center">
			<a href="javascript:void(0)" onclick="$('.table > tbody > tr.hide').toggle(false)">
		    	<i class="icon-minus"></i>
		    </a>
		    <a href="javascript:void(0)" onclick="$('.table > tbody > tr.hide').toggle(true)">
		    	<i class="icon-plus"></i>
		    </a>
		</th>
		<th></th>
	</tr>
	{% if blacklists %}
	{% for b in blacklists %}
		{% if b.expired() %}
		<tr class='info'>
		{% else %}
		<tr>
		{% endif %}
	    <td class="left">{{ b.offender.address }}</td>
	    <td class="left">/{{ b.offender.cidr }}</td>
	    <td class="center">
	    	{% if b.type == 'bgp_block' %}
	    		BGP Blocked
	    	{% elif b.type == 'zlb_block' %}
	    		ZLB Blocked
	    	{% elif b.type == 'zlb_redirect' %}
	    		ZLB Redirected
	    	{% endif %}
	    </td>
	    <td class="center">{{ b.start_date }}</td>
	    <td class="center">{{ b.end_date }}</td>
	    <td class="center">{{ b.reporter }}</td>
	    <td class="center">{% if b.bug_number %}
	    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{b.bug_number}}">
	    <img src="{{ static('images/link.png') }}">
	    </a>
	    {% endif %}</td>
	    <td class="center">
	    	<a href="javascript:void(0)" onclick="$('#hide_{{ b.id }}').toggle()">
	    		<img src="{{ static('images/comment.gif') }}">
	    	</a>
	    </td>
	    <td class="center">
	    <a href="/blacklist/delete/?id={{b.id}}">
	    <img src="{{ static('images/delete.gif') }}">
	    </a>
	    </td>
	    </tr>
	    <tr class="hide warning" id="hide_{{ b.id }}">
	    	<td colspan=5>{{b.comment}}</td>
	    </tr>
	{% endfor %}
	{% else %}
	<tr><td colspan="7" class="empty">
	<div class="banner">No active blacklists.</div>
	</td></tr>
	{% endif %}
	
	</table>
{% endblock %}
