{% extends "base.html" %}


{% block content %}
	{% block site_js %}
	  {% compress js %}
	    <script src="{{ static('js/blacklist.js') }}"></script>
	  {% endcompress %}
	{% endblock %}

	<h1>Apply a new network-wide blacklist</h1>
	{% if form.errors %}
		{{ form.non_field_errors() }}
	{% endif %}
	
	<form class="form-horizontal" action="/blacklist/post/" method="post" name="blacklist">
	{{ csrf() }}
	<div class="span6">
		<fieldset class="gray">
			<div class="control-group">
				<label class="control-label" for="id_target">Address</label>
				<div class="controls">
					{{ form.target }}
					{{ form.target.errors }}
				</div>
				<div class="create_edit_comment">
					Enter a blacklist target, with optional CIDR value<br/>
					Example: 63.245.208.1, 63.245.209.0/24, 2620:101:8000::/48
				</div>
			</div>
		</fieldset>
		<fieldset class="gray">
			<div class="control-group">
				<label class="control-label" for="id_duration">Blacklist for</label>
				<div class="controls">
					{{ form.duration }}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="id_start_date">Start Time</label>
				<div class="controls">
					{{ form.start_date }}
					{{ form.start_date.errors }}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="id_end_date">End Time</label>
				<div class="controls">
					{{ form.end_date }}
					{{ form.end_date.errors }}
				</div>
			</div>
			<div class="create_edit_comment">
				All times are in UTC<br/>
				Your local timezone is currently: <span name="timezone" id="id_timezone">Unknown</span>
			</div>
		</fieldset>
		<fieldset class="gray">
			<div class="control-group">
				<label class="control-label" for="id_comment">Comment</label>
				<div class="controls">
					{{ form.comment }}
					{{ form.comment.errors }}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="id_bug_number">Bug ID (optional)</label>
				<div class="controls">
					{{ form.bug_number }}
					{{ form.bug_number.errors }}
				</div>
			</div>	
		</fieldset>
		<br>
		<div class="row">
			<div class="span2">
				<button type="submit" class="btn">Apply Blacklist</button>
			</div>
			<div class="span1">
				<button type="reset" class="btn">Cancel</button>
			</div>
		</div>
	</div>
	</form>
{% endblock %}