{% extends "base.html" %}

{% block css_site %}
	<link href="{{ static('css/style.css') }}" rel="stylesheet">
	<link href="{{ static('css/demo_table.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span9">
				<h1>ZLB {{ zlb.name }} ({{ zlb.hostname }})</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="span4 center">
				<a href="/zlb/{{ zlb.id }}/protection" class="btn btn-info">
					Find Protection Classes applied
				</a>
			</div>
			<div class="span4 center">
				<a href="/zlb/{{ zlb.id }}/rules" class="btn btn-info">
					Find TrafficScript Rules applied
				</a>
			</div>
			<div class="span4 center">
				{% if zlb.need_update() %}
				<a href="/zlb/{{ zlb.id }}/update" class="btn btn-warning">
					Need Update (last update: {{ zlb.updated_date }})
				</a>
				{% else %}
				<a href="/zlb/{{ zlb.id }}/update" class="btn">
					Update (last update: {{ zlb.updated_date }})
				</a>
				{% endif %}
			</div>
		</div>
		<br>
	    <div class="row">
	    	<legend>Virtual Servers</legend>
	    	{% if vs %}
	    	<table id="virtualservers" class="display">
	    		<thead>
		    		<tr>
		    			<th>Name</th>
		    			<th>Enabled</th>
		    			<th>Port</th>
		    			<th>Protocol</th>
		    			<th>Default Pool</th>
		    		</tr>
	    		</thead>
	    		<tbody>
	    			{% for i in vs %}
	    			{% if i.enabled %}
		    		<tr class="gradeA">
		    		{% else %}
		    		<tr class="gradeX">
		    		{% endif %}
		    			<td>
		    				<a href="/zlb/{{ zlb.id }}/virtual_server/{{ i.id}}">
		    					{{ i.name }}
		    				</a>
		    			</td>
		    			<td>{{ i.enabled }}</td>
		    			<td>{{ i.port }}</td>
		    			<td>{{ i.protocol }}</td>
		    			<td>{{ i.default_pool }}</td>
		    		</tr>
		    		{% endfor %}
	    		</tbody>
	    	</table>
	    	{% endif %}
	    </div>
	</div>
{% endblock %}

{% block js_footer %}
	<script src="{{ static('js/jquery.js') }}"></script>
    <script src="{{ static('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ static('js/zlb_show.js') }}"></script>
{% endblock %}
{% block js_bootstrap %}{% endblock %}
{% block js_jquery %}{% endblock %}