<div class="span6">
	<fieldset class="gray">
		<div class="control-group">
			<label class="control-label" for="id_hostname">Hostname</label>
			<div class="controls">
				{{ form.hostname }}
				{{ form.hostname.errors }}
			</div>
		</div>
	</fieldset>
	<fieldset class="gray">
		<div class="control-group">
			<label class="control-label" for="id_hostname">ASN</label>
			<div class="controls">
				{{ form.asn }}
				{{ form.asn.errors }}
			</div>
		</div>
			<div class="create_edit_comment">
				Autonomous System Number for this network (Integer Field)
			</div>
	</fieldset>
	<br>
	<div class="row">
		<div class="span2">
			<button type="submit" class="btn">Update</button>
		</div>
		<div class="span1">
			<button type="reset" class="btn">Cancel</button>
		</div>
	</div>
</div>