{% extends "base.html" %}

{% block css_site %}
	<link href="{{ static('css/style.css') }}" rel="stylesheet">
	<link href="{{ static('css/demo_table.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<h1>Offenders</h1>
	<div class="row">
	    <div class="offset5 span2 center bold alert alert-info">
	    	All times are in UTC
	    </div>
    </div>
	<div class="row">
		<div class="span4 pull-right">
			{% if data.show_suggested == False %}
				<a class="btn" href="/offenders/show_suggested">Show also offenders that have never been blocked yet</a>
			{% else %}
				<a class="btn btn-info" href="/offenders">Hide offenders that have never been blocked yet</a>
			{% endif %}
		</div>
	</div>
	<br />
	{% if offenders %}
	<table id="offenders" class="display">
		<thead>
			<tr>
				<th class="left">
				    Address
				</th>
				<th class="left">
				    CIDR
				</th>
				<th class="center">
				    Attack Score
				</th>
				<th class="center">
				    Created
				</th>
				<th class="center">
					Updated
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for o in offenders %}
				{% if o.suggestion %}
			    <tr class="info">
			    {% else %}
			    <tr>
				{% endif %}
				    <td class="left">
				    	<a href="/offender/{{ o.id }}">
				    		{{ o.address }}
				    	</a>
				    </td>
				    <td class="left">/{{ o.cidr }}</td>
				    <td class="center">{{ o.score }}</td>
				    <td class="center">{{ o.created_date }}</td>
				    <td class="center">{{ o.updated_date }}</td>
				    <td class="center">
				    	<a href="/offender/{{o.id}}/delete"
				    	onclick="return confirm('Deleting this offender you\'ll also delete all its blacklists, events and scores')">
				    		<img src="{{ static('images/delete.gif') }}">
				    	</a>
				    </td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	No offenders.
	{% endif %}
{% endblock %}

{% block js_footer %}
	<script src="{{ static('js/jquery.js') }}"></script>
    <script src="{{ static('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ static('js/offenders.js') }}"></script>
{% endblock %}
{% block js_bootstrap %}{% endblock %}
{% block js_jquery %}{% endblock %}