{% extends "base.html" %}


{% block content %}
	<h1>Offenders</h1>
	<div class="row">
	    <div class="offset5 span2 center bold alert alert-info">
	    	All times are in UTC
	    </div>
    </div>
	<div class="row">
		<div class="span4 pull-right">
			{% if data.show_suggested == False %}
				<a class="btn" href="/offenders/show_suggested">Show also offenders that have never been blocked yet</a>
			{% else %}
				<a class="btn btn-info" href="/offenders">Hide offenders that have never been blocked yet</a>
			{% endif %}
		</div>
	</div>
	<br />
	<table class="table">
		<tr>
			<th class="left">
			    Address
			    <a href='?order_by=address&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
			    <a href='?order_by=address&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
			</th>
			<th class="left">
			    CIDR
			    <a href='?order_by=cidr&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
			    <a href='?order_by=cidr&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
			</th>
			<th class="center">
			    Attack Score
			    <a href='?order_by=attackscore&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
			    <a href='?order_by=attackscore&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
			</th>
			<th class="center">
			    Last Event
			</th>			
			<th class="center">
			    Created
			    <a href='?order_by=created_date&order=asc'><img src='/static/images/bullet-arrow-up.gif'></a>
			    <a href='?order_by=created_date&order=desc'><img src='/static/images/bullet-arrow-down.gif'></a>
			</th>
			<th></th>
		</tr>
		{% for b in offenders %}
			{% if b.suggestion %}
		    <tr class="info">
		    {% else %}
		    <tr>
			{% endif %}
			    <td class="left">{{ b.address }}</td>
			    <td class="left">/{{ b.cidr }}</td>
			    <td class="center">{{ b.attack_score() }}</td>
			    <td class="center">{{ b.last_event_date() }}</td>
			    <td class="center">{{ b.created_date }}</td>
			    <td class="center">
			    	<a href="/offender/{{b.id}}/delete"
			    	onclick="return confirm('Deleting this offender you\'ll also delete all its blacklists, events and scores')">
			    		<img src="{{ static('images/delete.gif') }}">
			    	</a>
			    </td>
		    </tr>
		{% endfor %}
		
		{% if not offenders %}
			<tr><td colspan="7" class="empty">
				<div class="banner">No offenders.</div>
			</td></tr>
		{% endif %}
		
	</table>
{% endblock %}
