{% extends "base.html" %}


{% block content %}
	<div class="container">
		<div class="row">
			<div class="span9">
				<h1>Offender {{ offender.address }}/{{ offender.cidr }}</h1>
			</div>
			<div class="span3">
				<h2>Score: {{ attackscore.score }}</h2>
			</div>
		</div>
		<div class="row">
		    <div class="offset5 span2 center bold alert alert-info">
		    	All times are in UTC
		    </div>
	    </div>
		<div class="row">
			<div class="span2">
			    <div class="btn-group">
				    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
				    	<i class="icon-white icon-plus-sign"></i>
				    	Add new blacklist
				    	<span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				    	<li><a href="/blacklist/new/bgp_block/{{ offender.id }}">
				    		BGP block
				    	</a></li>
				    	<li><a href="/blacklist/new/zlb_redirect/{{ offender.id }}">
				    		ZLB redirect
				    	</a></li>
				    	<li><a href="/blacklist/new/zlb_block/{{ offender.id }}">
				    		ZLB block
				    	</a></li>
				    </ul>
			    </div>
			</div>
		</div>
	    <div class="row">
		    <div class="span9">
		    	<legend>Blacklists</legend>
		    	<table class="table" id="blacklists">
		    		<tr>
		    			<th class="center">
		    				Type
		    			</th>
						<th class="center">
						    Start Time
						</th>
						<th class="center">
						    Expires
						</th>
						<th class="center">
						    Reporter
						</th>
		    			<th></th>
						<th class="center">
							<a href="javascript:void(0)" onclick="$('table#blacklists > tbody > tr.hide').toggle(false)">
						    	<i class="icon-minus"></i>
						    </a>
						    <a href="javascript:void(0)" onclick="$('table#blacklists > tbody > tr.hide').toggle(true)">
						    	<i class="icon-plus"></i>
						    </a>
						</th>
						<th></th>
		    		</tr>
		    		{% if blacklists %}
					{% for b in blacklists %}
						{% if b.expired() %}
						<tr class='info'>
						{% else %}
						<tr>
						{% endif %}
						<td class="center">
					    	{% if b.type == 'bgp_block' %}
					    		BGP Blocked
					    	{% elif b.type == 'zlb_block' %}
					    		ZLB Blocked
					    	{% elif b.type == 'zlb_redirect' %}
					    		ZLB Redirected
					    	{% endif %}
					    </td>
					    <td class="center">{{ b.start_date }}</td>
					    <td class="center">{{ b.end_date }}</td>
					    <td class="center">{{ b.reporter }}</td>
					    <td class="center">{% if b.bug_number %}
					    	<a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{b.bug_number}}">
					    		<img src="{{ static('images/link.png') }}">
					    	</a>
					    {% endif %}</td>
					    <td class="center">
					    	<a href="javascript:void(0)" onclick="$('#hide_blacklist_{{ b.id }}').toggle()">
					    		<img src="{{ static('images/comment.gif') }}">
					    	</a>
					    </td>
					    <td class="center">
					    	<a href="/blacklist/delete/?id={{b.id}}">
					    		<i class="icon-remove"></i>
					    	</a>
					    </td>
					    </tr>
					    <tr class="hide warning" id="hide_blacklist_{{ b.id }}">
					    	<td colspan=5>
					    		<ul>
					    			<li>Comment: {{b.comment}}</li>
					    			{% if b.virtual_servers %}
					    			<li>Blacklist applied on:
					    				{% for vs in b.virtual_servers %}
					    					<a href="/zlb/{{ vs.zlb_id }}/virtual_server/{{ vs.virtual_server_id }}">
					    						{{ vs.virtual_server_name }}
					    					</a>
					    					(<a href="/zlb/{{ vs.zlb_id }}">{{ vs.zlb_name }}</a>), 
					    				{% endfor %}
					    			</li>
					    			{% endif %}
					    		</ul>
					    	</td>
					    </tr>
					{% endfor %}
					{% else %}
					<tr><td colspan="6" class="empty">
					<div class="banner">No blacklists.</div>
					</td></tr>
					{% endif %}
		    	</table>
		    </div>
		    <div class="span3">
		    	<legend>
		    		Offender
		    		<a href="/offender/{{ offender.id }}/edit">
		    			<i class="icon-pencil icon-legend"></i>
		    		</a>
		    		<a href="/offender/{{offender.id}}/delete"
			    	onclick="return confirm('Deleting this offender you\'ll also delete all its blacklists, events and scores')">
			    		<i class="icon-remove icon-legend"></i>
			    	</a>
		    	</legend>
		    	<ul>
		    		<li>Address: {{ offender.address }}</li>
		    		<li>CIDR: {{ offender.cidr }}</li>
		    		<li>hostname: {{ offender.hostname }}</li>
		    		<li>ASN: {{ offender.asn }}</li>
		    		<li>Created: {{ offender.created_date }}</li>
		    		<li>Updated: {{ offender.updated_date }}</li>
		    	</ul>
		    </div>
	    </div>
	    <div class="row">
	    	<legend>Events</legend>
		    	<table class="table" id="events">
		    		<tr>
						<th class="center">
						    Created
						</th>
						<th class="center">
						    Rule
						</th>
						<th class="center">
						    Severity
						</th>
						<th class="center">
							Attack Score
						</th>
						<th class="center">
						    Event ID
						</th>
						<th class="center">
							<a href="javascript:void(0)" onclick="$('table#events > tbody > tr.hide_comment').toggle(false)">
						    	<i class="icon-minus"></i>
						    </a>
						    <a href="javascript:void(0)" onclick="$('table#events > tbody > tr.hide_comment').toggle(true)">
						    	<i class="icon-plus"></i>
						    </a>
						</th>
						<th></th>
		    		</tr>
		    		{% if events %}
		    		{% for e in events %}
			    		<tr>
						    <td class="center">{{ e.created_date }}</td>
						    <td class="center">{{ e.rulename }} (+5)</td>
						    <td class="center">{{ e.severity }} (+10)</td>
						    <td class="center">
						    	<a href="javascript:void(0)" onclick="$('#hide_event_score_{{ e.id }}').toggle()">
						    		{{ e.attackscore.total_score }}
						    	</a>
						    </td>
						    <td class="center">{{ e.eventId }}</td>
						    <td class="center">
						    	<a href="javascript:void(0)" onclick="$('#hide_event_comment_{{ e.id }}').toggle()">
						    		<img src="{{ static('images/comment.gif') }}">
						    	</a>
						    </td>
						    <td class="center">
						    	<a href="/event/{{ e.id }}/delete"
						    		onclick="return confirm('Deleting this event will substract its attack score from the offender score.')">
						    		<i class="icon-remove"></i>
						    	</a>
						    </td>
					    </tr>
					    <tr class="warning hide hide_comment" id="hide_event_comment_{{ e.id }}">
					    	<td colspan="6">
					    		<ul>
					    			{% if e.attackerUserName %}
					    				<li>attackerUserName: {{ e.attackerUserName }}</li>
					    			{% endif %}
					    			{% if e.requestUrl %}
					    				<li>requestUrl: {{ e.requestUrl }}</li>
					    			{% endif %}
					    			{% if e.requestUrlHost %}
					    				<li>requestUrlHost: {{ e.requestUrlHost }}</li>
					    			{% endif %}
					    			{% if e.sourceGeoCountryName %}
					    				<li>sourceGeoCountryName: {{ e.sourceGeoCountryName }}</li>
					    			{% endif %}
					    			{% if e.requestContext %}
					    				<li>requestContext: {{ e.requestContext }}</li>
					    			{% endif %}
					    			{% if e.targetHostName %}
					    				<li>targetHostName: {{ e.targetHostName }}</li>
					    			{% endif %}
					    			{% if e.targetAddress %}
					    				<li>targetAddress: {{ e.targetAddress }}</li>
					    			{% endif %}
					    			{% if e.attackerGeoLocationInfo %}
					    				<li>attackerGeoLocationInfo: {{ e.attackerGeoLocationInfo }}</li>
					    			{% endif %}
					    			{% if e.sourceAddress %}
					    				<li>sourceAddress: {{ e.sourceAddress }}</li>
					    			{% endif %}
					    			{% if e.login %}
					    				<li>login: {{ e.login }}</li>
					    			{% endif %}
					    			{% if e.referrer %}
					    				<li>referrer: {{ e.referrer }}</li>
					    			{% endif %}
					    			{% if e.sourceUserName %}
					    				<li>sourceUserName: {{ e.sourceUserName }}</li>
					    			{% endif %}
					    			{% if e.fileName %}
					    				<li>fileName: {{ e.fileName }}</li>
					    			{% endif %}
					    			{% if e.getDestHostName %}
					    				<li>getDestHostName: {{ e.getDestHostName }}</li>
					    			{% endif %}
					    		</ul>
					    	</td>
					    </tr>
					    <tr class="success hide hide_score" id="hide_event_score_{{ e.id }}">
					    	<td colspan="6">
					    		{% if e.attackscore %}
					    		<table class="table table-hover">
					    			<tr>
					    				<th>Element</th>
					    				<th>Value</th>
					    				<th>Score</th>
					    			</tr>
					    			<tr>
						    			<td>Severity</td>
						    			<td>{{ e.attackscore.severity }}</td>
						    			<td>{{ e.attackscore.severity_score }}</td>
					    			</tr>
					    			<tr>
					    				<td>Different Event Types</td>
					    				<td>{{ e.attackscore.event_types }}</td>
					    				<td>{{ e.attackscore.event_types_score }}</td>
					    			</tr>
					    			<tr>
					    				<td>Number of times network-wide blocked with BGP blackholing</td>
					    				<td>{{ e.attackscore.times_bgp_blocked }}</td>
					    				<td>{{ e.attackscore.times_bgp_blocked_score }}</td>
					    			</tr>
					    			<tr>
					    				<td>Number of times ZLB blocked</td>
					    				<td>{{ e.attackscore.times_zlb_blocked }}</td>
					    				<td>{{ e.attackscore.times_zlb_blocked_score }}</td>
					    			</tr>
					    			<tr>
					    				<td>Number of times ZLB redirected</td>
					    				<td>{{ e.attackscore.times_zlb_redirected }}</td>
					    				<td>{{ e.attackscore.times_zlb_redirected_score }}</td>
					    			</tr>
					    			<tr>
					    				<td>Last attack score</td>
					    				<td>{{ e.attackscore.last_attackscore }}</td>
					    				<td>{{ e.attackscore.last_attackscore_score }}</td>
					    			</tr>
					    			<tr>
					    				<td>Offender on Emerging Threat compromised IPs list</td>
					    				<td>{{ e.attackscore.et_compromised_ips }}</td>
					    				<td>{{ e.attackscore.et_compromised_ips_score }}</td>
					    			</tr>
					    			<tr>
					    				<td>Offender on DShield block list</td>
					    				<td>{{ e.attackscore.dshield_block }}</td>
					    				<td>{{ e.attackscore.dshield_block_score }}</td>
					    			</tr>
					    		</table>
					    		{% endif %}
					    	</td>
					    </tr>
					{% endfor %}
					{% else %}
					<tr><td colspan="8" class="empty">
					<div class="banner">No events.</div>
					</td></tr>
					{% endif %}
		    	</table>
	    </div>
	</div>
{% endblock %}
