{% extends "bootstrap/layouts/base.html" %}

{% block title %}Mozilla - Suspicious Behaviour Detected{% endblock %}

{% block css_bootstrap %}
    <link href="/static/css/bootstrap{{ debugmin() }}.css" rel="stylesheet">
{% endblock %}
{% block css_bootstrap_responsive %}
    <link href="/static/css/bootstrap-responsive{{ debugmin() }}.css" rel="stylesheet">
{% endblock %}
{% block css_site %}
	<link href="/static/css/portal.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<br><br><br>
	<div class="span12 center">
		<h1>Mozilla has detected a suspicious behavior from your network.<br>
			Please type the text below to access to our websites.
		</h1>
		<br><br><br>
		<form class="form-horizontal" action="/portal" method="post" name="portal">
		{{ csrf() }}
		{% if form.errors %}
		{{ form.non_field_errors() }}
		{% endif %}
		{{ form.captcha }}
		{{ form.captcha.errors }}
		{{ form.referer }}
		<br><br>
		<button type="submit" class="btn">Submit</button>
		</form>
	</div>
	<br><br><br><br><br>
	<div class="span12 center">
		If you have questions or concerns about us blocking you,
		you can contact us at <span id="email"></span>
	</div>
{% endblock %}

{% block js_bootstrap %}
	<script src="/static/js/bootstrap{{ debugmin() }}.js"></script>
{% endblock %}
{% block js_analytics %}{% endblock %}
{% block js_footer %}
	<script src="/static/js/portal.js"></script>
{% endblock %}