.center {
	text-align: center !important;
}

.bold {
	font-weight: bold;
}

fieldset.gray {
	padding-top: 5px;
	margin-top: 5px;
	background-color: #F0F0F0;
}

div.create_edit_comment {
	font-style: italic;
	color: #666666;
	padding: 5px;
}

.form_label {
	text-align: right;
	padding: 5px;
}

ul.errorlist {
	list-style-type: none;
	display: inline;
	margin-left: 0;
	padding-left: 0;
}

ul.errorlist li {
	display: inline;
	color: red;
	margin-left: 0px;
	padding-left: 10px;
}

fieldset#settings_score > div.control-group > label.control-label {
	width: 400px;
	text-align: left;
}

.icon-legend {
	margin-top: 5px;
}

table.display tr.odd.enabled {
	background-color: #DDFFDD;
}
